<div class="container">
  <div class="page__form">
    <%= search_form %>
  </div>

  <p class="text">Whois Record for</p>
  <div class="page__title page__title--align-left">
    <h1 class="heading heading--level-1"><%= title %></h1>
  </div>
</div>

<div class="result">
  <div class="result__dates container">
    <div class="row">
      <div class="result-date">
          <div class="result-date__title">Created on</div>
          <div class="result-date__value"><%= created_on %></div>
        </div>
        <div class="result-date">
          <div class="result-date__title">Expires on</div>
          <div class="result-date__value"><%= expires_on %></div>
        </div>
    </div>
    <div class="row">
      <div class="result-date">
          <div class="result-date__title">Updated on</div>
          <div class="result-date__value"><%= updated_on %></div>
        </div>
        <div class="result-date">
          <a class="result-date__link" href="#">Full history<img class="result-date__link-icon"
              src="/images/arrow_right.svg" alt="See full history"></a>
        </div>
    </div>
  </div>
  <div class="result__tabs">
    <div class="tabs">
      <div class="tabs__tablist" role="tablist">
        <button class="tabs__tab js-tab" type="button" role="tab" aria-selected="true"
          aria-controls="tabpanel-record">Whois Record</button>
        <button class="tabs__tab js-tab" type="button" role="tab" aria-selected="false"
          aria-controls="tabpanel-raw">Raw text</button>
      </div>
      <div class="tabs__panel" id="tabpanel-record" role="tabpanel" aria-labelledby="Whois Record">
        <ul class="list-table">
          <p class="list-table__title">REGISTRATION INFORMATION:</p>
          <% if registrant[:name].present? %>
            <li class="list-table__item">
              <div class="list-table__item-title">Name:</div>
              <div class="list-table__item-text"><%= registrant[:name] %></div>
            </li>
          <% end %>
          <li class="list-table__item">
            <div class="list-table__item-title">Organization:</div>
            <div class="list-table__item-text"><%= registrant[:organization].to_s %></div>
          </li>
          <li class="list-table__item">
            <div class="list-table__item-title">Address:</div>
            <div class="list-table__item-text"><%= registrant_address %></div>
          </li>
          <li class="list-table__item">
            <div class="list-table__item-title">Email:</div>
            <div class="list-table__item-text"><%= registrant[:email].to_s %></div>
          </li>
          <li class="list-table__item">
            <div class="list-table__item-title">Phone:</div>
            <div class="list-table__item-text"><%= registrant[:phone].to_s %></div>
          </li>
        </ul>
        <ul class="list-table">
          <p class="list-table__title">TECH CONTACT:</p>
          <% if tech_contacts[:name].present? %>
            <li class="list-table__item">
              <div class="list-table__item-title">Name:</div>
              <div class="list-table__item-text"><%= tech_contacts[:name] %></div>
            </li>
          <% end %>
          <li class="list-table__item">
            <div class="list-table__item-title">Organization:</div>
            <div class="list-table__item-text"><%= tech_contacts[:organization].to_s %></div>
          </li>
          <li class="list-table__item">
            <div class="list-table__item-title">Address:</div>
            <div class="list-table__item-text"><%= tech_address %></div>
          </li>
          <li class="list-table__item">
            <div class="list-table__item-title">Email:</div>
            <div class="list-table__item-text"><%= tech_contacts[:email].to_s %></div>
          </li>
          <li class="list-table__item">
            <div class="list-table__item-title">Phone:</div>
            <div class="list-table__item-text"><%= tech_contacts[:phone].to_s %></div>
          </li>
        </ul>
      </div>

      <div class="tabs__panel" id="tabpanel-raw" role="tabpanel" aria-labelledby="Raw text"
        style="display: none">
        <pre class="json"><%= raw_text %></pre>
      </div>
    </div>
  </div>
  <div class="result__table container">
    <ul class="list-table">
      <p class="list-table__title">A</p>
      <li class="list-table__item"><%= registrant[:organization] %></li>
    </ul>
    <ul class="list-table">
      <p class="list-table__title">AAAA</p>
      <li class="list-table__item"><%= registrant[:organization] %></li>
    </ul>
    <ul class="list-table">
      <p class="list-table__title">MX</p>
      <li class="list-table__item"><%= registrant[:organization] %></li>
    </ul>
    <ul class="list-table">
      <p class="list-table__title">NS</p>
      <% nameservers.map do |server| %>
        <li class="list-table__item"><%= server[:name] %></li>
      <% end %>
    </ul>
  </div>
</div>
